body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

@import './variables';

* {
  font-size: 100%;
  font-family: $normal-font;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  max-width: 950px;
  height: 100vh;
}

@import 'routes/home';
@import 'routes/profile';
@import 'components/header/header';
